{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <title>{% block title %}Flask | {% endblock %}</title> <!-- el bloque en particular es para describir un titulo y se le hereda al 'hello.html' -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
{% endblock %}
{% block body %}
    
    {% block content %} <!-- este bloque en particular describe a un contenido el cual es heredado -->
    {% include 'navbar.html' %}
    {% endblock %}

{% endblock %}
